@{
    ViewBag.Title = "Home Page";
}
<div>
    <h3>Перевалки</h3>
    <table class="table table-hover">
        <tr>
            <td><p>№ Клети</p></td>
            <td><p>№ Нижнего валка</p></td>
            <td><p>№ Верхнего валка</p></td>
            <td><p>Диаметр нижнего валка</p></td>
            <td><p>Диаметр вехнего валка</p></td>
            <td><p>Редактировать</p></td>
        </tr>
       
</table>
</div>
